@model MyStuff.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyerPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="/Products">Back to List</a>
</div>
